<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
	xmlns:cdv="http://cordova.apache.org/ns/1.0" 
	id="com.burncode.CronometroGap" 
	version="1.0.0">
	
    <name>Cronômetro</name>
    <description>Cronômetro Burncode</description>
    <author email="burncodegroup@gmail.com" href="">Burncode</author>
    
	
	<preference name="phonegap-version" value="3.1.0" />
    <preference name="webviewbounce" value="true"/>
	<preference name="android-minSdkVersion" value="7" />
	
	<gap:plugin name="org.apache.cordova.media" />
	
	
	<access origin="*" />
	
</widget>
